@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
/* container........ */
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(56, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Clock......... */
.clock {
  /* background-color: blueviolet; */
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/* Time...... */
.hours {
  width: 147px;
  height: 150px;

  -webkit-border-radius: 36px;
  border-radius: 36px;
  background: #383535;
  -webkit-box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;
  box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;

  display: flex;
  justify-content: center;
  align-items: center;
}
.minutes {
  width: 147px;
    height: 150px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  background: #383535;
  -webkit-box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;
  box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;
  margin: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secounds {
  width: 147px;
    height: 150px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  background: #383535;
  -webkit-box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;
  box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amorpm {
  width: 147px;
    height: 150px;
  margin-left: 52px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  background: #383535;
  -webkit-box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;
  box-shadow: 18px 18px 35px #292727, -18px -18px 35px #474343;
  display: flex;
  justify-content: center;
  align-items: center;
}
